<ion-header>
  <ion-navbar color="danger">
    <ion-buttons end>
      <button ion-button (click)="closeModal()" clear>
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="myForm">
    <ion-list>
      <h5 ion-text color="danger" class="paddingLR16TB8">Change Password</h5>
      <ion-item>
        <ion-label floating>Old Password</ion-label>
        <ion-input formControlName="currentPassword" type="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="warning"
        *ngIf="myForm.get('currentPassword').hasError('required') && myForm.get('currentPassword').touched">
        Old Password is required!
      </p>
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="warning" *ngIf="
        myForm.get('password').hasError('required') &&
        myForm.get('password').touched
      ">
        Password is required!
      </p>
      <p ion-text color="danger" class="warning" *ngIf="
        myForm.get('password').touched && myForm.get('password').valid == false
      ">
        Password should be 6 characters or more
      </p>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input formControlName="cnfpassword" type="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="warning" *ngIf="myForm.get('cnfpassword').hasError('required') &&
        myForm.get('cnfpassword').touched">
        Please confirm your password
      </p>
      <p ion-text *ngIf="myForm.get('cnfpassword').touched && myForm.errors?.Passinvalid == true" color="danger"
        class="warning">
        password and Confirm password did not match
      </p>
      <br />
      <ion-item class="no-border">
        <button [disabled]="!myForm.valid" ion-button block (click)="changePassword()" color="danger">
          Change Password
        </button>
      </ion-item>
    </ion-list>
  </form>
  <ion-list>
    <ion-item>
      <button ion-button color="danger" block outline (click)="logOut()">
        Log Out &nbsp;
        <ion-icon name="ios-log-out-outline"></ion-icon>
      </button>
    </ion-item>

  </ion-list>

</ion-content>