progress-bar {
  .progress-outer {
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
    line-height: 1;
    .progress-inner {
      min-width: 15%;
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      border-radius: 20px;
      background-color: color($colors, primary, base);
    }
  }
}
