<ngx-spinner></ngx-spinner>
<app-nav></app-nav>

<div id="content" class="pmd-content inner-page marginT20">
  <div class="container-fluid full-width-container inbox marginT20">
      <div class="row marginT20 marginB20">
          <div class="col-md-12">
            <div class="col-md-8 col-sm-offset-2">
              <div class="pmd-card pmd-card-default pmd-z-depth">
                <div class="pmd-card-body">
                  <p class="fontLarge marginB20">Jobseekers will not see your answers. These answers will be used to help match your company environment with jobseekers who prefer similar work environment.</p>
                  <button (click)="getstart()" class="btn pmd-ripple-effect btn-primary PrimaryButton">
                      Let's Get
                      Started
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
   </div>
</div>
