page-profile {
  .middle {
    padding: 25% 0;
  }

  .UserName {
    background: transparent;
  }

  .progressBar {
    background: transparent;

    .item-inner ion-label {
      margin: 0;
    }
  }

  .smallFont {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .notification {
    .lable {
      margin: 0 !important;
    }
  }

  .jobtivityTitle b {
    color: color($colors, primary) !important;
  }


  .description {
    padding: 16px 16px 0 16px;
  }




  .paddingTB5 {
    padding: 5px 0;
  }


  [col-4] {
    padding: 1px;
  }

  .item ion-avatar img {
    width: 50px;
    height: 50px;
  }

  ion-label {
    margin: 0 !important;
    background: color($colors, white) !important;
  }

  .item ion-avatar ion-img,
  .item ion-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .notification * {
    background: #f5f5f5 !important;
  }

  .headingClass {
    display: inline;
  }

  .bgRed {
    background-color: color($colors, danger) !important;
    font-size: 1em;

    * {
      background-color: color($colors, danger) !important;
    }
  }

  .paddingLR8 {
    padding: 0 8px;
  }

  .marginL8 {
    margin-left: 8px;
  }

  .vertAlignM {
    vertical-align: middle;

    img {
      width: 20px;
    }
  }

  .rewards {
    font-size: 0.8em;
    color: #fff;
  }

  .paddingT8 {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .notification {
    .item p {
      margin-bottom: 10px !important;
    }
  }

  .secondary {
    color: color($colors, dark);
  }

  ion-list.profile {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(220, 220, 220, 1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(220, 220, 220, 1);
    box-shadow: 0px 0px 4px 1px rgba(220, 220, 220, 1);

    .noChildPadding .item-inner {
      border-bottom: 0 !important;
      padding: 0;

      .heading {
        font-size: 1.9rem;
      }

      .descriptionText small {
        color: #365899;
      }
    }

    .imageSize img {
      width: 100%;
      border-radius: 0;
    }

    .imageSize {
      padding-left: 0 !important;
      padding-right: 0 !important;

      .item-inner {
        padding: 0 !important;
      }

      ion-label {
        margin: 0 !important;
        background: color($colors, white) !important;
      }
    }

    .profileFooter {
      background-color: color($colors, lightGray, base)
    }
  }

  .background {
    background-color: rgb(245, 245, 245) !important;

    ion-list.profile {
      -webkit-box-shadow: 0px 0px 4px 1px rgba(220, 220, 220, 1);
      -moz-box-shadow: 0px 0px 4px 1px rgba(220, 220, 220, 1);
      box-shadow: 0px 0px 4px 1px rgba(220, 220, 220, 1);

      .noChildPadding .item-inner {
        border-bottom: 0 !important;
        padding: 0;

        .heading {
          font-size: 1.9rem;
        }

        .descriptionText small {
          color: #365899;
        }
      }

      .item ion-avatar img {
        width: 45px;
        height: 45px;
      }

      .imageSize img {
        width: 100%;
        border-radius: 0;
      }

      .imageSize {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .item-inner {
          padding: 0 !important;
        }

        ion-label {
          margin: 0 !important;
          background: color($colors, white) !important;
        }
      }

      .profileFooter {
        background-color: color($colors, lightGray, base)
      }
    }
  }

  .ionWow {
    float: left;
    cursor: pointer
  }

  .wow {
    background-color: color($colors, danger);
    padding: 5px;
    border-radius: 50%;
  }

  .ionComment {
    float: right;
    cursor: pointer
  }


  .tagButton {
    font-size: 1rem;
    padding: 5px 10px;
    margin-top: -5px;
    border-radius: 20px;
  }

  .course {
    background-color: color($colors, course);
    color: color($colors, white);
  }

  .entrepreneurial {
    background-color: color($colors, part-time);
    color: color($colors, white);
  }

  .knowledge {
    background-color: color($colors, knowledge);
    color: color($colors, white);
  }

  .personal {
    background-color: color($colors, personal);
    color: color($colors, white);
  }

  .sports {
    background-color: color($colors, social);
    color: color($colors, white);
  }

  .volunteering {
    background-color: color($colors, volunteering);
    color: color($colors, white);
  }

  .other {
    background-color: color($colors, other);
    color: color($colors, white);
  }

  .organisational {
    background-color: color($colors, organisational);
    color: color($colors, white);
  }

  .fornttext {
    font-size: 1.4rem;
  }
}
