<ion-header>
  <ion-navbar color="danger">
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-list *ngIf="userdetails != undefined">
      <ion-item class="UserName noBorder" no-padding>
        <ion-avatar item-start>
          <img (click)="editProfile()" [src]="userdetails.photo"
            onerror="this.onerror=null;this.src='../assets/imgs/user.jpg'" />
        </ion-avatar>
        <ion-row>
          <ion-col col-4 text-center class="paddingB0 smallFont">
            <b>{{ userdetails.no_of_jobtivity_posted }}</b> <br />
            Jobtivities
          </ion-col>
          <ion-col col-4 text-center class="paddingB0 smallFont">
            <b> {{ userdetails.no_of_followings }} </b> <br />
            Following
          </ion-col>
          <ion-col col-4 text-center class="paddingB0 smallFont">
            <b>{{ userdetails.no_of_followers }}</b> <br />
            Followers
          </ion-col>
          <ion-col col-5>
            <button block no-margin color="yellow" (click)="editProfile()" ion-button small>
              <span ion-text color="light">
                Edit
              </span>
            </button>
          </ion-col>
          <ion-col col-7 class="paddingTB5">
            <button block no-margin color="yellow" (click)="changePassword()" ion-button small>
              <span ion-text color="light">
                Settings
              </span>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="padding5 noBorder">
        <p no-margin ion-text color="black">
          <b> {{ userdetails.name }} </b>
        </p>
        <p class="paddingB10" ion-text color="black"> <span class="smallFont">
            Graduated in {{ userdetails.graduation_year }} at {{ userdetails.universityData[0].university_name }}.
            ({{courcesname}} ) </span>

        </p>
        <p ion-text color="black">{{ userdetails.aspiration_message }}</p>
      </ion-item>
      <ion-item *ngIf="userdetails != undefined && userdetails.milestone != undefined" class="progressBar padding5"
        no-padding>
        <p ion-text class="black">
          <span class="fornttext">
            <b> {{ PointsMore }}</b> points more to unlock
            <b>{{ userdetails.milestone.title }} !</b>
          </span>
          <span float-right class="fornttext">
            <b>
              {{ totalJobTivity }}/{{
                userdetails.milestone.milestone_points
              }}
            </b>
          </span>
        </p>
        <progress-bar [progress]="loadProgress"></progress-bar>
      </ion-item>
    </ion-list>
    <ion-list class="notification" *ngIf="milestone != undefined && milestone.length> 0">
      <ion-item class="paddingT8">
        <h3>Rewards Unlocked</h3>
      </ion-item>
      <ion-item class="paddingT8" *ngFor="let mil of milestone">
        <h3>
          <b> {{mil.title}} </b>
        </h3>
        <h6>
          {{mil.description}}
        </h6>
        <button ion-button color="danger" outline small (click)="TryOut(mil)">Try Out Now</button>
      </ion-item>
    </ion-list>
    <ion-list class="notification" *ngIf="userpointlist != undefined && userpointlist.length> 0">
      <ion-item class="paddingT8">
        <h3>Rewards Table</h3>
      </ion-item>
      <ion-item no-padding padding-bottom class="paddingT8" *ngFor="let userpint of userpointlist">
        <h2 class="headingClass">
          <b class="vertAlignM"> {{userpint.title}}</b>
        </h2>
        <small class="marginL8"><button ion-button color="danger" round small padding-horizontal
            class="bgRed vertAlignM paddingLR8">+{{userpint.points}} &nbsp; <ion-icon name="trophy"></ion-icon>
          </button></small>
        <h6>
          {{userpint.description}}
        </h6>
      </ion-item>
    </ion-list>

    <ion-list class="notification" no-margin *ngIf="userJobtivitiesData != undefined && userJobtivitiesData.length> 0">
      <ion-item class="paddingT8">
        <h3>My Jobtiviti</h3>
      </ion-item>
    </ion-list>
    <ion-row class="background" *ngFor="let jobtivity of userJobtivitiesData">
      <ion-col>
        <ion-list class="profile">
          <ion-item style="cursor:pointer" (click)="UserProfileClick(jobtivity)" no-padding>
            <ion-avatar item-start>
              <img [src]="
                  jobtivity?.user?.photo
                    ? jobtivity?.user?.photo
                    : '../assets/imgs/user.jpg'
                " />
            </ion-avatar>
            <p ion-text color="dark">
              <b>{{ jobtivity?.user?.name }}</b>
            </p>
            <small>
              {{ jobtivity.created_at | date: "MMM d, y, h:mm a" }} ·
              <button ion-button small round ion-text class="tagButton {{jobtivity?.categoryTag?.tag}}">
                {{jobtivity?.categoryTag?.tag}}
              </button>
            </small>
          </ion-item>
          <ion-item class="noBorder noChildPadding post" no-padding>
            <h4 (click)="viewComment(jobtivity)" padding-horizontal ion-text class="heading">{{ jobtivity.description }}
            </h4>
            <p padding-horizontal ion-text class="descriptionText" [hidden]="jobtivity.WhatIHave"
              style="cursor:pointer">
              <small color="danger" (click)="whatIhavelearnt(jobtivity)">See Description!</small>
            </p>
            <p (click)="viewComment(jobtivity)" padding-horizontal ion-text [hidden]="!jobtivity.WhatIHave"
              class="description fieldSecond">
              {{ jobtivity.learning_experience }}
            </p>
            <span (click)="viewComment(jobtivity)" class="imageSize">
              <img *ngIf="jobtivity.photo != null" [src]="jobtivity.photo_url"
                onerror="this.onerror=null;this.src='../assets/imgs/post.jpg'" />
            </span>
            <p ion-text padding *ngIf="jobtivity.num_of_Wow>0" class="ionWow" (click)="WowList(jobtivity)"><b>
                {{jobtivity.num_of_Wow }}</b>
              Wow &nbsp;</p>
            <p ion-text padding *ngIf="jobtivity.num_of_comments>0" class="ionComment" (click)="viewComment(jobtivity)">
              {{jobtivity.num_of_comments }} Comments</p>
          </ion-item>
          <ion-item class="profileFooter" background-color="lightGray">
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-6 no-padding>
                  <button (click)="Wow(jobtivity)"
                    *ngIf="jobtivity.wowInterest == undefined || jobtivity.wowInterest == 0" ion-button small block
                    clear color="gray">
                    <ion-icon name="ios-thumbs-up-outline"> </ion-icon> &nbsp; Wow
                  </button>
                  <button (click)="RemoveWow(jobtivity)" *ngIf="jobtivity.wowInterest == 1" ion-button small block clear
                    color="danger">
                    <small>
                      <ion-icon name="thumbs-up" color="light" class="wow"> </ion-icon>
                    </small> &nbsp; Wow
                  </button>
                </ion-col>
                <ion-col col-6 no-padding>
                  <button ion-button small block clear color="gray" (click)="viewComment(jobtivity)">
                    <ion-icon name="ios-text-outline"> </ion-icon> &nbsp; Comment
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item hidden="hidden">
            <button ion-button clear (click)="viewComment()">View all comment</button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>