<ion-header>

  <ion-navbar color="danger">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>New Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="warning" *ngIf="
        myForm.get('password').hasError('required') &&
        myForm.get('password').touched
      ">
        Password is required!!
      </p>
      <p ion-text color="danger" class="warning" *ngIf="
        myForm.get('password').touched && myForm.get('password').valid == false
      ">
        password should not be less than 6 character
      </p>
      <ion-item>
        <ion-label stacked>Confirm Password</ion-label>
        <ion-input formControlName="cnfpassword" type="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="warning" *ngIf="myForm.get('cnfpassword').hasError('required') &&
        myForm.get('cnfpassword').touched">
        Confirm Password is required!!
      </p>
      <p ion-text *ngIf="myForm.get('cnfpassword').touched && myForm.errors?.Passinvalid == true" color="danger"
        class="warning">
        password and Confirm password did not match
      </p>
      <br />
      <ion-item class="no-border">
        <button [disabled]="!myForm.valid" ion-button block (click)="resetPassword()" color="danger">
          Change Password
        </button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>